<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>  
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
		</staticContent>  
        <!-- IE - Edge ayarlaması için --> 
        <httpProtocol>
            <customHeaders>
                <add name="X-UA-Compatible" value="IE=Edge,Chrome=1" />
            </customHeaders>
        </httpProtocol>
        <!-- IE - Edge ayarlaması için -->
        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <clear />
                <!-- Rule 1: To redirect all calls to https. Remove it if you don't use https. -->
                <rule name="Redirect to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
                <!-- Rule 1: To redirect all calls to https. Remove it if you don't use https. -->
                <!-- Rule 2: Address Bar'a direkt olarak adres yazılınca error vermemesi için -->
                <rule name="ReactJS Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
                <!-- Rule 2: Address Bar'a direkt olarak adres yazılınca error vermemesi için -->
            </rules>
        </rewrite>        
    </system.webServer>
</configuration>